.section-three h2 {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 116%;
    text-align: center;
  }
  
  .section-three-wrap {
    padding: 50px 0 94px 0;
    justify-content: space-between;
    display: flex;
  }
  
  .section-three-img {
    max-width: 100%;
  }
  